/*phân loại bánh*/


.title {
    font-size: 24px;

    font-weight: bold;

    height: 40px;

    color: #ff5722;

    margin-bottom: 20px;

}

/*sản phẩm*/
.list-spham {
    display: flex;

    gap: 20px;

    overflow-x: auto; 

    scroll-behavior: smooth;

    margin-bottom: 20px;

    padding-bottom: 10px;
}

/*ẩn thanh scroll*/
.list-spham::-webkit-scrollbar {
    display: none;
}

/*card sản phẩm*/
.spham {
    min-width: 270px;

    flex-shrink: 0;

    background: #fff;

    text-align: center;

    border-radius: 30px;

    overflow: auto;

    transition: 0.3s;
}

/*bỏ gạch dưới của text*/
a {
  text-decoration: none !important;
}

/*hiệu ứng hover*/
.spham:hover {
    transform: translateY(-8px);
}

/*khung ảnh*/
.spham img {
    width: 100%;

    height: 220px;

    object-fit: cover;

    display: block;

    background-color: #fdfaf0;
}



/*khung giá*/
.tien {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 12px 15px;

    margin: 15px;

    background: #fff7ef;

    border-radius: 18px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/*phần giá*/
.gia {
    display: flex;

    align-items: start;
    justify-items: start;
}

/*text giá*/
.text-gia {
    font-size: 17px;

    font-weight: bold;

    color: red;
}

/*giá cũ*/
.text-gia del {
    font-size: 14px;

    color: #999;

    margin-left: 10px;
}

/*nút giỏ hàng*/
.hang {
    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;


    color: white;

    font-size: 22px;

    cursor: pointer;

    display: flex;

    justify-content: center;

    align-items: center;

    transition: 0.3s;
}

/*hover*/
.hang:hover {
    transform: scale(1.1);

    background: #ff5722;
}

.hang img {
    width: 24px;
    height: 24px;
    background: transparent;
}

/*click*/
.hang:active {
    transform: scale(0.95);
}