/* MENU */
.menu {
    background-color: #FFF8F0;

    padding: 15px 0;

    position: sticky;

    top: 0;

    z-index: 9999;
}

/* nội dung menu */
.menu .container{
    display: flex;

    justify-content: space-between;

    align-items: center;
}

/* bên trái */
.left {
    display: flex;

    align-items: center;

    gap: 30px;
}

/* bên phải */
.right {
    display: flex;

    align-items: center;

    gap: 20px;

    position: relative;
}

#logo {
    height: 100px;
}

#gio {
    height: 40px;
    cursor: pointer;
    justify-content: s;
}
.search-btn {
    justify-content: s;
}

/* MENU CHÍNH */
.main-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.main-menu li {
    position: relative;
}

.main-menu a {
    text-decoration: none;
    color: #5A3E2B;
    font-weight: bold;
    padding: 10px 16px;
    display: block;
    transition: 0.3s;
}

.main-menu a:hover {
    background: #F2C57C;
    color: white;
    transform: translateY(-3px);
}

/* MENU CON */
.menu-be {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: white;
    padding: 0;
    margin: 0;
    display: none;
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.menu-be a {
    padding: 12px;
    border-bottom: 1px solid #eee;
    transform: none;
}

.menu-be a:hover {
    background: #F2C57C;
    color: black;
}

/* HIỆN MENU CON */
.down:hover .menu-be {
    display: block;
}

/* TÌM KIẾM */
.search-dropdown{
    position: absolute;

    top: 55px;
    right: 50px;

    width: 280px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);

    transition: .3s;
}

.search-dropdown.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.search-dropdown input{
    width: 100%;
    height: 42px;

    padding: 0 15px;

    border: 1px solid #ddd;
    border-radius: 25px;

    background: white;

    box-sizing: border-box;

    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}

/* KHI KHÔNG TÌM THẤY SẢN PHẨM */
.empty-search{
    grid-column: 1 / -1;

    text-align:center;

    padding:60px 20px;
}

.empty-search h3{
    color:#5A3E2B;
    margin-bottom:10px;
}

.empty-search p{
    color:#888;
}
